@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

 :root{
    --primary-color: #000;
    --secondary-color: #131111;
    --fav-color: rgb(59, 144, 241);
 }

* {
    box-sizing: border-box;
  }

  body{
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
     margin: 0;
     overflow: hidden;
  }

  header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary-color);
  }

  #text{
    color: var(--fav-color);
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 10px !important;
   }
 .search {
    background-color: transparent;
    border: 2px solid var(--fav-color);
    border-radius: 50px;
    font-family: inherit;
    padding: 0.5rem 1rem;
    color: #fff;
  }

  .search::placeholder{
    color: var(--fav-color);
  }

  .search:focus{
    outline: none;
    background-color: var(--primary-color);
    border: none;
  }

  main {
    display: flex;
    flex-wrap: wrap;
  }


   .movie {
    width: 300px;
    margin: 1rem;
    background-color: var(--secondary-color);
    background-color: var(--secondary-color);
    box-shadow: 0 4px 5px rgba(56, 142, 223, 0.2);
    position: relative;
    overflow: hidden;
    border-radius: 3px;
   }

   .movie img {
    width: 100%;
   }

   .movie-info {
    color: var(--fav-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:0.2rem;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
    font-weight: bold;
    font-family: inherit;
  }

  .movie-info h3 {
    margin-top: 0;
  }
  
  .movie-info span {
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 0;
  }
  
  .movie-info span.green {
    color: var(--fav-color);
  }
  
  .movie-info span.orange {
    color: orange;
  }
  
  .movie-info span.red {
    color: red;
  }


  .overview {
    background-color: #fff;
    padding: 2rem;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    transform: translateY(101%);
    overflow-y: auto;
    transition: transform 0.3s ease-in;
  }


.movie:hover .overview {
    transform: translateY(0);
  }

  @media only screen and (max-width: 786px) {
    body{
      width: 100%;
      overflow: hidden;
    }

    .movie{
      width: 100%;
      overflow: hidden;
    }

    .search{
      display: none;
    }
  }

  