@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

 :root{
    --primary-color: #000;
    --secondary-color: #131111;
    --fav-color: rgb(59, 144, 241);
 }

* {
    box-sizing: border-box;
  }

  body{
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
     margin: 0;
  }

  header {
    padding: 1rem;
    display: flex;
    justify-content: center;
    background-color: var(--secondary-color);
  }

 .search {
    background-color: transparent;
    border: 2px solid var(--fav-color);
    border-radius: 50px;
    font-family: inherit;
    padding: 0.5rem 1rem;
    color: #fff;
  }

  .search::placeholder{
    color: var(--fav-color);
  }

  .search:focus{
    outline: none;
    background-color: var(--primary-color);
    border: none;
  }
